{% for section in site.data.projects.sections %}
<h3>{{ section.name }}</h3>
<ul class="project-list">
  {% for project in section.items %}
  <li class="project-item">
    <div class="project-header">
      <span class="project-title">{{ project.title }}</span>
      {% include project-icons.html github=project.github website=project.website demo=project.demo %}
      {% if project.date %}
      <span class="project-date">({{ project.date }})</span>
      {% endif %}
    </div>
    {% if project.description %}
    <p class="project-description">{{ project.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
