<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="header-content">
            <!-- Adjust the image size and alignment -->
            <img src="{{ '\assets\images\Profiles\my-notion-face-transparent (1).jpg' | relative_url }}" alt="Profile Icon" class="profile-icon">
            <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        </div>
        <nav>
            {% for item in site.navigation %}
            <a href="{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
        </nav>
    </header>
    
    <main>
        {{ content }}
    </main>
    <footer>
        <p>© {{ "now" | date: "%Y" }} {{ site.author }}</p>
    </footer>
</body>
</html>
